body {
  background-color: papayawhip;
  margin: 0;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link {
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin : 0px;
    padding: 0px;
    margin-right: 25px;
    float: left;  
  }
  a {
    color: white;
    /* transition: 0s; */
  }
  
  a:hover {
    color: #caa570;
  }

  #nav-bar {
  position: relative;
  float: right;
  color: white;
    
  }

  .centertop {
    font-size: 40px; 
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0;
    padding: 30px;
    padding-bottom: 1%;
    color: #ffffff;
    margin-bottom: 5px;

  }

button {
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    background-color: #E0C196;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button :hover {
    color: #a86404;
}

.top-bar {
    background-image: url("image/kedibone-isaac-makhumisane-P7mi7-uEQ78-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    padding-top: 50px;
}

i {
    color: white;
}

#full{
  font-size: 3rem;
  text-align: center;
  color: #caa570;
  margin-top: 0%;
}

.middle {
  width: 100%;
  text-align: center;
}

.middle-main {
  font-size: 3rem;
  float: inherit;
  text-align: center;
}

.middle-text {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.second-mid {
  width: 100%;
  text-align: center;
}

.second-mid-main {
  font-size: 3rem;
  float: inherit;
  text-align: center;
}

.second-mid-text {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  text-decoration: none;
}

#email {
  text-decoration: none;
  color: #00ffff;
}

.heading {
  font-size: 3rem;
  float: inherit;
  text-align: center;
}

.hobbies {
  line-height: 1.7;
  margin-left: 40px;
}
.contact {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
